.aboutheader {
    /* background-color: royalblue; */
    font-size: 2em;
    height: fit-content;
    width: fit-content;
    left: 0;
    right: 0;
    margin-left: 25%;
    margin-top: 2%;
}

.about {
    /* background-color: red; */
    height: 15em;
    width: 45em;
}

.aboutinfo {
    /* background-color: khaki; */
    position: relative;
    margin-left: 2em;
    margin-top: 1em;
    width: 29.8em;
    height: fit-content;
    text-align: left;
    line-height: 1.5em;
    
}

.aboutpicture {
    position: absolute;
    right: 0;
    margin-top: -25%;
    margin-right: 3%;
    height: inherit;
}

.home {
    /* background-color: aquamarine; */
    margin: auto;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.home-text {
    padding-bottom: 12px;
    font-family: 'Roboto Mono', 'courier','monospace';
    font-size: 1em;
    font-weight: 500;
}

.interests {
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 5rem;
}

.interestsheader {
    /* background-color: blueviolet; */
    font-size: 2em;
    padding-bottom: 0.5rem;
}

.interest-icon {
    width: 7.5rem;
    padding: 1.5rem;
}

.interests-describe {
    display: inline-block;
    font-style: italic;
    font-size: 1.25rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    transform: translate(-19%, -50%);
}

#weights {
    transform: translate(-22%, -50%);
}

#cooking {
    transform: translate(-35%, -50%);
}

#designing {
    transform: translate(-25%, -50%);
}

#birds {
    transform: translate(-10%, -50%);
}

.about-home {
    padding: 0.5rem;:border: w;
    width: 50rem;
    height: 35rem;
    border: solid rgb(230, 230, 230) 0.25rem;
    box-shadow: 0.5rem 0.75rem 1rem rgb(173, 173, 173);
    border-radius: 2%;
}

#resume {
    position: relative;
    /* background-color: blue; */
    height: 2rem;
    transform: translate(3rem, 25.5rem);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', 'courier','monospace';
    font-size: 1.2rem;
}

#resume-download {
    font-weight: bold;
    padding: 0;
    text-decoration: underline;
}