.header {
    font-weight: 600;
    font-size: 36px;
}

.home {
    /* background-color: aquamarine; */
    margin: auto;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.home-text {
    padding-bottom: 12px;
    font-family: 'Roboto Mono', 'courier','monospace';
    font-size: 1em;
    font-weight: 500;
}