html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

a {
    /* background-color: aqua; */
    text-align: center;
    line-height: 12px;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin-bottom: 2em;
}

p, h2, h1 {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.logo {
    width: 25em;
    height: 25em;
    display: block;
}

.secondary-logo {
    width: 8em;
    height: 8em;
}

.portfolio-home {
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 2em;
}

#background {
    background-image: url(../images/geometric_background-clear.png);
}

.back {
    font-family: 'Roboto Mono', 'courier','monospace';
    font-weight: 500;
    position: absolute;
    margin-top: -85%;
    left: -250%;
    align-items: center;
}

label {
    display: inline-block; 
    width: fit-content; 
    height: fit-content; 
    text-align: right;
}

#back-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.5rem;
    font-weight: 100;
}

#main-button {
    margin-top: -16%;
    left: -5.5%;
}

#back-button-label {
    text-align: right;
    display: inline-block;
}

#about-button {
    margin-top: -46%;
    left: -2.5%;
}

#contact-button {
    margin-top: -32%;
    left: -65%;
}

.project {
    /* background-color: aqua; */
    padding: 1rem;
    display: block;
    position: absolute;
    transform: translate(-15.5rem, 0);
    width: 40rem;
    text-align: left;
}

p, project {
    line-height: 1.6rem;
}