html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

a {
    background-color: aqua;
    text-align: center;
    line-height: 12px;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin-bottom: 2em;
}

p, h2 {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    width: 25em;
    height: 25em;
    display: block;
}

.secondary-logo {
    width: 8em;
    height: 8em;
}

.portfolio-home {
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 2em;
}

#background {
    background-image: url(../images/geometric_background-clear.png);
}