.projectCard {
    width: 40rem;
    height: 20rem;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    border: 0.25rem rgb(235, 235, 235) solid;
    background-color: rgb(248, 248, 248);
    margin: 3.5rem;
    box-shadow: 0.5rem 0.75rem 1rem rgb(124, 124, 124);
}

.autogs-logo {
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


.github-logo {
    height:50px;
}

#autogs-github {
    display: block;
}

.projectCardText {
    font-size: 4rem;
    padding-top: 1rem;
    font-weight: 800;
} 

.wmtlogo {
    width: 6.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 1.5rem;
}