.projectCard {
    width: 40rem;
    height: 24rem;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    border: 0.25rem rgb(235, 235, 235) solid;
    background-color: rgb(248, 248, 248);
    margin: 3.5rem;
    box-shadow: 0.5rem 0.75rem 1rem rgb(124, 124, 124);
    position: relative;
}

.projectDesc {
    width: 20rem;
    height: 12rem;
    /* background-color: chartreuse; */
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    left: 1rem;
    text-align: left;
}

.description {
    padding: 1rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.15rem;
}

#autoGSDesc, #autoGSThumbnail {
    top: 3rem;
}

#deflectionDesc, #deflectionThumbnail {
    top: 1rem;
}


#vertapDesc, #vertapThumbnail {
    top: 1rem;
}

#wmtDesc, #wmtThumbnail {
    height: 8rem;
    top: 6rem;
}

.projectThumbnail {
    width: 15rem;
    height: 12rem;
    /* background-color: red; */
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
    right: 1rem;
}

#deflectionThumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

#deflectionTesterImg {
    width: 20rem;
    margin-left: auto;
    margin-right: -3.5rem;
    margin-bottom: -5.5rem;
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#autoGSImg {
    width: 15rem;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 2rem;
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#vertap-logo {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 1.5rem;
}

#vertapImg {
    width: 10rem;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: -1rem;
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#benchyBoatImg {
    width: 15rem;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -4rem;
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.autogs-logo {
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


.github-logo {
    height:50px;
}

#autogs-github {
    display: block;
}

.projectCardText {
    font-size: 3rem;
    padding-top: 1.5rem;
    font-weight: 800;
} 

.wmtlogo {
    width: 6.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 1.5rem;
}

.readMoreButton {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 0.25rem;
    background-color: white;
    border: black solid 0.1rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.readButton {
    width: fit-content;
    height: fit-content;
}

#readMore {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', 'courier','monospace';
    margin: 0;
    font-size: 1rem;
}