.projectCard {
    width: 55rem;
    height: 20rem;
    border-radius: 5%;
    background-color: brown;
    margin: 3.5rem;
}

.portfolio-home {
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 2em;
}

.github-logo {
    height:50px;
}

.autogs-logo {
    height: 125px;
}

#autogs-github {
    display: block;
}