.home {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 675px;
}

.logo {
    width:500px;
    height:500px;
}

.home-text{
    padding-bottom: 15px;
    font-family: 'Roboto Mono', 'courier','monospace';
    font-size: 14px;
    font-weight: 500;
}