.home {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 675px;
}

.portfolio-home {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 950px;
}

.logo {
    width:500px;
    height:500px;
}

.secondary-logo {
    width:125px;
    height: 125px;
}

.home-text {
    padding-bottom: 12px;
    font-family: 'Roboto Mono', 'courier','monospace';
    font-size: 14px;
    font-weight: 500;
}

a {
    text-align: center;
    line-height: 12px;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 12px;
    margin: 12px;
    height: 10px;
}